html, body {
 margin: 0;
 padding: 0;
 }

h1

{ text-align: center;
    
animation: Test 1s infinite;
}
@keyframes Test{
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}

}

#para_1

{
font-style: italic;
color: red;
}